<p>user works!</p>
@if(logedIn){
<p>Hola Cesar</p>
<img
  (click)="greet()"
  src="https://github.com/cesarQuint.png"
  alt=""
  srcset="" />
}@else{
<button type="submit" (click)="logedIn = true">Inisiar sesion</button>
}
<br />
<app-game-list
  (addFavoriteEvent)="getFavorite($event)"
  listName="Game of Exodo"></app-game-list>

@if(favGameName !== ''){
<h3>Tu juego favorito es {{ favGameName }}</h3>
}
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis
  sagittis quam, nec laoreet ante laoreet at. In massa orci, pretium non
  hendrerit quis, molestie vestibulum lectus. Aenean dapibus dolor ut suscipit
  bibendum. Donec quis lorem at arcu aliquet semper. Mauris scelerisque lacus
  justo, vel tempor diam facilisis in. Mauris id massa at leo blandit commodo.
  Quisque non nisl turpis. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos himenaeos.
</p>
<br />
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis
  sagittis quam, nec laoreet ante laoreet at. In massa orci, pretium non
  hendrerit quis, molestie vestibulum lectus. Aenean dapibus dolor ut suscipit
  bibendum. Donec quis lorem at arcu aliquet semper. Mauris scelerisque lacus
  justo, vel tempor diam facilisis in. Mauris id massa at leo blandit commodo.
  Quisque non nisl turpis. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos himenaeos.
</p>
@defer() {
<img
  src="https://i.kym-cdn.com/entries/icons/original/000/046/895/huh_cat.jpg"
  alt="" />
}
